<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VuelingExamCrudEntities" connectionString="metadata=res://*/StudentEntityDataModel.csdl|res://*/StudentEntityDataModel.ssdl|res://*/StudentEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=VuelingExamCrud;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>